@model Disaster_Alleviation_Web.Models.GoodsPurchase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Purchased Good</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.purchaseAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.purchaseAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disaster)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disaster.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monetary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monetary.MonetaryID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GoodsPurchaseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
