@model IEnumerable<Disaster_Alleviation_Web.Models.GoodsPurchase>

@{
    ViewData["Title"] = "Index";
}

<h1>Purchased Goods</h1>
<h1>@ViewBag.totalDonation</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchaseAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disaster)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.purchaseAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disaster.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GoodsPurchaseId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GoodsPurchaseId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GoodsPurchaseId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
