@model IEnumerable<Disaster_Alleviation_Web.Models.Donation.Monetary>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Monetaries</h2>
<h1>@ViewBag.totalDonation</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonationAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonorName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MonetaryID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MonetaryID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MonetaryID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
