@model IEnumerable<Disaster_Alleviation_Web.Models.ReliefViewModels.DisasterGoodsInfo>

@{
    ViewBag.Title = "Disaster Relief Statistics";
}

<h1>Disaster Relief Statistics - Disasters </h1>
<h3>Total active today: @ViewBag.totalDisasters</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Start Date
            </th>
            <th>
                Description
            </th>
            <th>
                Goods Assigned
            </th>
            <th>
                Funds
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisasterVM.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisasterVM.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodVM.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodsPurchaseVM.purchaseAmount)
            </td>
        </tr>
    }
</table>
